<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Tenth navbar example">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08"
            aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" style="margin-right: 30px; margin-left: 30px" aria-current="page"
                        href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="margin-right: 30px; margin-left: 30px" href="/">CONNECT@NYPian</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="margin-right: 30px; margin-left: 30px" href="/profile">Profile</a>
                </li>
                <!-- Chat icon  -->
                <li class="nav-item">
                    <a class="nav-link" style="margin-right: 30px; margin-left: 30px" href="/chat"
                        style="color: white"><i class="fa-solid far fa-comment"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="margin-right: 30px; margin-left: 30px"
                        href="/createpost">Create Post</a>
                </li>
            </ul>
        </div>
    </div>

    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search for: Community/User/Post"
            aria-label="Search" />
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</nav>
<br>
<br>
<br>