<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" aria-label="Tenth navbar example">
    <a class="nav-link" style="margin-right: 30px; margin-left :50px; color: white; font-size: 20px; font-family:'OCR A';" href="/">ConnectNYPian</a>
    
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08"
            aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        

        <div class="collapse navbar-collapse" id="navbarsExample08">
            <ul class="navbar-nav">
                {% if 'login_id' in session %}
                <li class="nav-item">
                    <a class="nav-link" style="margin-right: 20px; margin-left: 20px" aria-current="page"
                        href="/">Feed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="margin-right: 20px; margin-left: 20px" href="/chat"
                        style="color: white"><i class="fa-solid far fa-comment"></i>Chat</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" style="margin-right: 20px; margin-left: 20px"
                        href="/createpost">Create Post</a>
                </li>

                {% endif %}
                {% if 'login_id' not in session %}

                <li class="nav-item">
                    <a class="nav-link" style="margin-right: 20px; margin-left: 20px" aria-current="page"
                        href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="margin-right: 20px; margin-left: 20px" aria-current="page"
                        href="/signup">Sign up</a>
                </li>

                {% endif %}
                {% if 'login_id' in session %}
                <li class="nav-item">
                    <a class="nav-link" style="margin-right: 20px; margin-left: 20px" href="/user/{{session['login_id']}}">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="margin-right: 20px; margin-left: 20px" href="/logout">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>

    {% if 'login_id' in session %}
    <form class="d-flex" style="margin-right: 50px">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input class="form-control me-2" type="search" placeholder="Search ConnectNYPian"
            aria-label="Search" style="width: 275px; border-radius: 27px"/>
    </form>

    <script>
        $(document).ready(() => {
            $('.info').on('submit', () => {
                return false;
            });
        });
        $('.d-flex').keypress((e) => {
            if (e.which === 13) {
                $('.info').submit();
            }
        })
    </script>
    {% endif %}
</nav>
<br>
<br>
<br>
<br>