<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" aria-label="Tenth navbar example" style="z-index: 2; outline-style:solid; outline-color:grey; outline-width:1px;">
    <a class="nav-link" style="margin-right: 30px; color: rgb(0, 0, 0); font-size: 20px; font-family:'OCR A';margin-left:60px" href="/">ConnectNYPian</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08"
            aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
<!--
        <div class="collapse navbar-collapse" id="navbarsExample08">
            <ul class="navbar-nav">
                {% if 'login_id' in session %}
                <li class="nav-item">
                    <a class="nav-link" style="margin-right: 20px; margin-left: 20px" aria-current="page"
                        href="/">Feed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="margin-right: 20px; margin-left: 20px" href="/chat"
                        style="color: white"><i class="fa-solid far fa-comment"></i>Chat</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" style="margin-right: 20px; margin-left: 20px"
                        href="/createpost">Create Post</a>
                </li>

                {% endif %}
                {% if 'login_id' not in session %}

                <li class="nav-item">
                    <a class="nav-link" style="margin-right: 20px; margin-left: 20px" aria-current="page"
                        href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="margin-right: 20px; margin-left: 20px" aria-current="page"
                        href="/signup">Sign up</a>
                </li>

                {% endif %}
                {% if 'login_id' in session %}
                <li class="nav-item">
                    <a class="nav-link" style="margin-right: 20px; margin-left: 20px" href="/user/{{session['login_id']}}">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="margin-right: 20px; margin-left: 20px" href="/logout">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
-->
    {% if 'login_id' in session %}
    <div class="collapse navbar-collapse" style="margin-left: 280px;">
        <form>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input class="form-control me-2" id="searchform" type="search" placeholder="Search ConnectNYPian"
            aria-label="Search" style="width: 600px; border-radius: 27px; height:38px"/>
    </form>
    <style>
        #searchform {
            background-image:url(/static/images/search.png);
            background-size: 15px;
            background-position: 3% 50%;
            background-repeat: no-repeat;
            text-indent: 30px;
        }
    </style>
    <script>
        $(document).ready(() => {
            $('.info').on('submit', () => {
                return false;
            });
        });
        $('.d-flex').keypress((e) => {
            if (e.which === 13) {
                $('.info').submit();
            }
        })
    </script>
    </div>
    {% endif %}
</nav>
<br>
<br>
<br>
{% if 'login_id' in session %}
<div class="col fixed-top bg-light lead navbar-collapse" style="height: 1000px; max-width: 21%; z-index: 1; outline-style:solid; outline-color:grey; outline-width:1px;">
    <div style="float: right; margin-right: 15px">
    <ul class="navbar-nav" style="margin-top:80px;margin-right: 50px; width:100%">
        <li class="nav-item">
            <a class="nav-link" style="margin-right: 20px; margin-left: 20px" aria-current="page"
                href="/"><img src="/static/images/home.png" alt="" style="width: 24px; margin-right: 12px; margin-bottom: 5px">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="margin-right: 20px; margin-left: 20px" href="/chat"
                style="color: white"><img src="/static/images/messages.png" alt="" style="width: 22px; margin-right: 12px; margin-bottom: 5px">Messages</a>
        </li>
<hr style="height:1px; max-width: 230px;width:100%">
        <li class="nav-item">
            <a class="nav-link" style="margin-right: 20px; margin-left: 20px"
                href="/createpost"><img src="/static/images/plus.png" alt="" style="width: 22px; margin-right: 12px; margin-bottom: 5px">Create Post</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" style="margin-right: 20px; margin-left: 20px" href="/user/{{session['login_id']}}"><img src="/static/images/person-circle-2.svg" style="width: 25px; margin-right: 10px; margin-bottom: 2px">{{session['username']}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="margin-right: 20px; margin-left: 20px" href="/logout"><img src="/static/images/logout.png" alt="" style="width: 20px; margin-right: 12px; margin-bottom: 1px; margin-left:1px">Logout</a>
        </li>
        <hr style="height:1px; max-width: 230px;width:100%">
        <li class="nax-item justify-content-center" style="max-width: 140px; margin-left:20px"> <a href="" style="font-size: 11px;text-decoration:none;color:black; margin-right:4px">Terms of Service</a> <a href="" style="font-size: 11px;text-decoration:none;color:black; margin-right:4px">Policies</a> <a href="" style="font-size: 11px;text-decoration:none;color:black; margin-right:4px">Help</a> <a href="" style="font-size: 11px;text-decoration:none;color:black; margin-right:4px">Contact</a> <a href="" style="font-size: 11px;text-decoration:none;color:black; margin-right:4px">FAQ</a></li>
    </div>
</div>

<!--<div class="col fixed-top bg-light lead" style="height:1000px; max-width:60px; z-index: 1; outline-style:solid; outline-color:grey; outline-width:1px" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#navbarsExample08">

</div> -->

{% endif %}
<!-- <a href="https://www.flaticon.com/free-icons/cancel" title="cancel icons">Cancel icons created by Dave Gandy - Flaticon</a> -->