{% extends 'base.html' %}
{% block title%}ConnectNYPian{% endblock %}

{% block content %}
{% from "includes/formHelper.html" import render_field %}
{% if school_specific == True %}
<div class="container-fluid" style="margin-bottom: 33px; max-width: 75%; width: 600px">
  <a href="/"><h4 style="float: left; color: black">For You</h4></a>
  <a href="/school-specific"><h4 style="float: right; text-decoration:underline; color: black">School-Specific</h4></a>
</div>
{% else %}
<div class="container-fluid" style="margin-bottom: 33px; max-width: 75%; width: 600px">
  <a href="/"><h4 style="float: left; text-decoration:underline; color: black">For You</h4></a>
  <a href="/school-specific"><h4 style="float: right; color: black">School-Specific</h4></a>
</div>
{% endif %}
<br>
{% for post in feed %}
<main class="container-fluid" style="max-width: 90%; width: 800px">
  <div class="bg-light p-3 rounded">
    <div class="row">
      <div class="col">
    <a href="/user/{{post.account_id}}" style="text-decoration: none; color: black;">
    <img src="/static/images/person-circle.svg" alt="avatar" class="rounded-circle img-fluid" style="width: 30px; float: left; margin-right: 10px">
    <p style="font-size: 20px">{{post.username}}</p>
      </a>
      </div>
        {% if post.account_id == session['login_id'] %}
        <div style="float: right; width: 50px">
          <a href="/deletepost/{{post.post_id}}" style="color: white"><img src="/static/images/delete.svg" width="20px"></a>
        </div>
        {% endif %}
      </div>
    <h4>{{post.title}}</h4>
    <p>
      {{post.body}}
    </p>
    <hr>
    <div class="row w-75">
      <div class="col">
        <a href="/comments/{{post.post_id}}" style="text-decoration: none; color: black"><img src="/static/images/comment.png" style="width: 27px; margin-right: 10px; margin-bottom: 4px">10</a>
      </div>
      {% if post.post_id in liked_posts %}
      <div class="col">
        <a href="/removelike/{{post.post_id}}" style="text-decoration: none; color: red"><img src="/static/images/liked.png" style="width: 27px; margin-right: 10px; margin-bottom: 4px">30</a>
      </div>
      {% else %}
      <div class="col">
        <a href="/createlike/{{post.post_id}}" style="text-decoration: none; color: black"><img src="/static/images/unliked.png" style="width: 27px; margin-right: 10px; margin-bottom: 4px">30</a>
      </div>
      {%endif%}
      <div class="col">
        <a href="" style="text-decoration: none; color: black"><img src="/static/images/share.png" style="width: 24px; margin-right: 10px; margin-bottom: 4px">Share</a>
      </div>
      <div class="col">
        <a href=""><img src="/static/images/more.png" style="width: 22px"></a>
      </div>
    </div>
  </div>
<br>
<br>
</main>
{% endfor %}
{% endblock %}
