{% extends 'base.html' %}
{% block title%}ConnectNYPian{% endblock %}

{% block content %}
{% from "includes/formHelper.html" import render_field %}
{% for post in feed %}
<main class="container-fluid w-50">
  <div class="bg-light p-4 rounded">
    <h1>{{post.title}}</h1>
    <p class="lead">
      {{post.body}}
    </p>
    <div class="row">
      {% if post.post_id in liked_posts %}
      <div class="col">
        <button type="button" class="btn btn-outline-primary"><a href="/removelike/{{post.post_id}}">Unlike</a></button>
      </div>
      {% else %}
      <div class="col">
        <button type="button" class="btn btn-outline-primary"><a href="/createlike/{{post.post_id}}">Like</a></button>
      </div>
      {%endif%}
      <div class="col">
        <button type="button" class="btn btn-outline-primary">
          Comment
        </button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-outline-primary">Share</button>
      </div>
      {% if post.account_id == session['login_id'] %}
      <div class="col">
        <button type="button" class="btn btn-danger"><a href="/deletepost/{{post.post_id}}" style="color: white">Delete</a></button>
      </div>
      {% endif %}
    </div>
  </div>
  <hr>
</main>
{% endfor %}
{% endblock %}