



{% extends 'base.html' %}
{% block title%}ConnectNYPian{% endblock %}

{% block content %}
{% from "includes/formHelper.html" import render_field %}
<main class="container-fluid w-75">
  <div class="bg-light p-5 rounded">
    <h1>Title</h1>
    <p class="lead">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
      voluptatum, quibusdam, quia, voluptate voluptas quod quos
      exercitationem voluptatibus quas voluptatem quidem? Quisquam
    </p>
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-outline-primary">Like</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-outline-primary">
          Comment
        </button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-outline-primary">Share</button>
      </div>
    </div>
  </div>
</main>
{% endblock %}