{% extends 'base.html' %}
{% block title%}Profile{% endblock %}

{% block content %}
{% from "includes/formHelper.html" import render_field %}
{% if not is_blocked %}
<main class="container" style="max-width: 1050px;">
  <!--

    3. Profile Page !!PLACEHOLDER!!
      - Attribute needed
        - [ ] Profile Picture Edit
        - [ ] Bio
        - [ ] Following Count
        - [ ] Follower Count
        - [ ] Name
        - [ ] Password (Hide Function)
        - [ ] Email
        - [ ] Post Count
        - [ ] Likes Count (People Like him)
  -->

  <div class="row justify-content-center">
    <div class="col-md-4" style="width: 400px;">
      <div class="card mb-4 shadow-sm">
        <img
          src="/static/images/person-circle.svg"
          alt="Profile Picture"
          width="100%"
          height="225"
          onclick="editProfile()"
          style="margin-top: 30px; margin-bottom: 30px"
        />
        {% if not is_owner %}
        {% if not is_following %}
        <button class="btn btn-primary" style="width: 100px; border-radius:18px; margin-left:auto; margin-right:auto"><a href="/follow/{{account_id}}" style="color:white; text-decoration:none;">Follow</a></button>
        {% else %}
        <button class="btn btn-primary" style="width: 100px; border-radius:18px; margin-left:auto; margin-right:auto"><a href="/unfollow/{{account_id}}" style="color:white; text-decoration:none;">Unfollow</a></button>
        {% endif %}
        {% endif %}
        <div class="card-body" style="margin-left: 30px;">
          <p class="card-text">
            <b>Username:</b> {{username}}
          </p>

          {% if is_owner %}
          <p class="card-text">
            <b>Email:</b>
            {{school_email}}
          </p>
          {% endif %}

          {% if is_owner %}
          <p class="card-text">
            <b>Account ID:</b> {{account_id}}
          </p>
          {% endif %}

          {% if is_owner %}
          <p class="card-text">
            <b>Date Created:</b> {{created_timestamp}}
          </p>
          {% endif %}

          <p class="card-text">
            <b>School:</b> {{school}}
          </p>

          <p class="card-text">
            <b>Following:</b> {{following}}
          </p>
          <p class="card-text">
            <b>Followers:</b> {{followers}}
          </p>
          <p class="card-text">
            <b>Posts:</b> {{post_no}}
          </p>
          {% if is_owner %}
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a
                href="/editprofile"
                class="btn btn-sm btn-outline-secondary"
                >Edit Profile</a
              >
              <a
                href="/reset_pass"
                class="btn btn-sm btn-outline-secondary"
                >Reset Password</a
              >
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="col-md-6">
      {% if is_owner %}
      <h3 style="margin-bottom: 20px;">My Posts</h3>
      {% else %}
      <h3>{{username}}'s Posts</h3>
      {% endif %}
      {% for post in posts %}
      <a href="/comments/{{post.post_id}}" style="color: black; text-decoration:none">
      <div class="card mb-3 shadow-sm">
        <div class="card-body">
          <h4 class="card-text">
            {{post.title}}
          </h4>
          <p class="card-text">
            {{post.body}}
          </p>
          <p class="card-text">
            <b>Date:</b> {{post.post_timestamp}}
          </p>
          <p class="card-text">
            <b>Likes:</b> this doesnt exist yet it will soon tho
          </p>
        </div>
      </div>
      </a>
      {% endfor %}
    </div>
</main>

{% else %}
<div class="row justify-content-center" style="max-width: 1050px; margin-left:auto; margin-right:auto">
<div class="col-md-4">
  <div class="card mb-4 shadow-sm">
    <img
      src="/static/images/person-circle.svg"
      alt="Profile Picture"
      width="100%"
      height="225"
      onclick="editProfile()"
      style="margin-top: 30px; margin-bottom: 30px"
    />

    <button class="btn btn-primary" style="width: 100px; border-radius:18px; margin-left:auto; margin-right:auto"><a href="/unblock/{{account_id}}" style="color:white; text-decoration:none;">Unblock</a></button>

    <div class="card-body" style="margin-left: 30px;">
      <p class="card-text">
        <b>Username:</b> {{username}}
      </p>
    </div>
    <div class="card-body" style="margin-left: 30px;">
      <p class="card-text">
        This user is unable to view your posts or messaage you.
      </p>
    </div>
  </div>
  </div>
</div>
{% endif %}
{% endblock %}
