
{% extends 'base.html' %}
{% block title%}Profile{% endblock %}

{% block content %}
{% from "includes/formHelper.html" import render_field %}
{% if is_owner %}
  <p>is owner</p>
{% else %}
<p>is not owner</p>
{% endif %}
<main class="container">
  <!--

    3. Profile Page !!PLACEHOLDER!!
      - Attribute needed
        - [ ] Profile Picture Edit
        - [ ] Bio
        - [ ] Following Count
        - [ ] Follower Count
        - [ ] Name
        - [ ] Password (Hide Function)
        - [ ] Email
        - [ ] Post Count
        - [ ] Likes Count (People Like him)
  -->

  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img
          src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg"
          alt="Profile Picture"
          width="100%"
          height="225"
          onclick="editProfile()"
        />
        <div class="card-body">

          <p class="card-text">
            <b>Username:</b> {{username}}
          </p>

          <p class="card-text">
            <b>Email:</b>  {{school_email}}
          </p>
          <p class="card-text">
            <b>Account ID:</b> {{account_id}}
          </p>
          <p class="card-text">
            <b>Date Created:</b> {{created_timestamp}}
          </p>
          <p class="card-text">
            <b>Bio:</b> !ALTER THE SCHEMA!
          </p>
          <p class="card-text">
            <b>Following:</b> derive
          </p>
          <p class="card-text">
            <b>Follower:</b> derive
          </p>
          <p class="card-text">
            <b>Post:</b> derive
          </p>
          <p class="card-text">
            <b>Likes:</b> derive
          </p>
          {% if is_owner %}
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a
                href="/editprofile"
                class="btn btn-sm btn-outline-secondary"
                >Edit Profile</a
              >
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="col-md-8">
      {% if is_owner %}
      <h3>My Post</h3>
      {% else %}
      <h3>{{username}} Post</h3>
      {% endif %}
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <p class="card-text">
            <b>Post Title:</b> need retrieve post data
          </p>
          <p class="card-text">
            <b>Post Content:</b> need retrieve post data
          </p>
          <p class="card-text">
            <b>Post Date:</b> need retrieve post data
          </p>
          <p class="card-text">
            <b>Post Likes:</b> need retrieve post data
          </p>
          {% if is_owner %}
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a
                href="/editpost"
                class="btn btn-sm btn-outline-secondary"
                >Edit Post</a
              >
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
</main>
{% endblock %}