
{% extends 'base.html' %}
{% block title%}Profile{% endblock %}

{% block content %}
{% from "includes/formHelper.html" import render_field %}
<main class="container">
  <!--

    3. Profile Page !!PLACEHOLDER!!
      - Attribute needed
        - [ ] Profile Picture Edit
        - [ ] Bio
        - [ ] Following Count
        - [ ] Follower Count
        - [ ] Name
        - [ ] Password (Hide Function)
        - [ ] Email
        - [ ] Post Count
        - [ ] Likes Count (People Like him)
  -->

  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img
          src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg"
          alt="Profile Picture"
          width="100%"
          height="225"
          onclick="editProfile()"
        />
        <div class="card-body">
          <p class="card-text">
            <b>Username:</b> NYPian
          </p>
          <p class="card-text">
            <b>Email:</b>  NYPian@nyp.sg
          </p>
          <p class="card-text">
            <b>Bio:</b> I am a NYPian
          </p>
          <p class="card-text">
            <b>Following:</b> 0
          </p>
          <p class="card-text">
            <b>Follower:</b> 0
          </p>
          <p class="card-text">
            <b>Post:</b> 0
          </p>
          <p class="card-text">
            <b>Likes:</b> 0
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a
                href="/editprofile"
                class="btn btn-sm btn-outline-secondary"
                >Edit Profile</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <h3>My Post</h3>
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <p class="card-text">
            <b>Post Title:</b> I am a NYPian
          </p>
          <p class="card-text">
            <b>Post Content:</b> I am a NYPian
          </p>
          <p class="card-text">
            <b>Post Date:</b> 0
          </p>
          <p class="card-text">
            <b>Post Likes:</b> 0
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a
                href="/editpost"
                class="btn btn-sm btn-outline-secondary"
                >Edit Post</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
</main>
{% endblock %}