{% extends 'base.html' %}
{% block title%}Admin{% endblock %}

{% block content %}
{% from "includes/formHelper.html" import render_field %}
<div class="container row" style="margin: auto;">
<div class="col">
<h4>Locked Accounts</h4>
{% for account in locked_accounts %}
<a href="/user/{{account.account_id}}" style="color: black; text-decoration:none">
    <div class="card mb-3 shadow-sm" style="width:350px">
      <div class="card-body">
        <p class="card-text">
        <b>Username:</b> {{account.username}}
        </p>
        <p class="card-text">
        <b>Failed Attempts:</b> {{account.failed_attempts}}
        </p>
        <a href="/admin-unlock-account/{{account.account_id}}"><button class="btn btn-success" style="width: 150px; margin-top:10px">Unlock Account</button></a>
      </div>
  </div>
</a>
{% endfor %}
</div>
<div class="col">
<h4>Educator Verification Requests</h4>
{% for account in verify_as_educator_requests %}
<a href="/user/{{account.account_id}}" style="color: black; text-decoration:none">
    <div class="card shadow-sm" style="width:350px">
      <div class="card-body">
        <p class="card-text">
        <b>Username:</b> {{account.username}}
        </p>
        <p class="card-text">
        <b>Employee ID:</b> {{account.employee_id}}
        </p>
        <p class="card-text">
        <b>Department:</b> {{account.department}}
        </p>
        <a href="/grant-educator-verification/{{account.account_id}}"><button class="btn btn-success" style="width: 240px; margin-top:10px">Grant Educator Verification</button></a>
      </div>
  </div>
</a>
{% endfor %}
</div>
<div class="col">
    <h4>Reported Posts</h4>
    {% for post in reported_posts %}
    <a href="/comments/{{post.post_id}}" style="color: black; text-decoration:none">
    <div class="card mb-3 shadow-sm" style="width: 400px;">
        <div class="card-body">
        <h4 class="card-text">
            {{post.title}}
        </h4>
        <p class="card-text">
            {{post.body}}
        </p>
        <p class="card-text">
            <b>Date:</b> {{post.post_timestamp}}
        </p>
        <p class="card-text">
            <b>Likes:</b> {{post.like_count}}
        </p>
        <p class="card-text">
            <b>Reason for Report:</b> {{post.reason}}
        </p>
        <a href="/deletepost/{{post.post_id}}"><button class="btn btn-danger" style="width: 150px; margin-top:10px">Delete Post</button></a>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}