{% extends 'base.html' %}
{% block title%}ConnectNYPian{% endblock %}

{% block content %}
{% from "includes/formHelper.html" import render_field %}
<script>
  function clear() {
    document.getElementById('commentbody').value = ''
  }
</script>

{% if rate_limit %}
        <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
            <strong>SLOW DOWN!</strong> YO CHILL OUT!! REPLY SLOWER LEH! WAIT A WHILE PLS
            <button style='border: None;'type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span style='background-color: None;'aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif%}

<main class="container-fluid w-75" style="max-width:800px; width: 90%;">
    <div class="bg-light p-3 rounded card" style="border-color: white ;">
        <div class="row">
          <div class="col">
        <a href="/user/{{post.account_id}}" style="text-decoration: none; color: black;">
        <img src="/static/images/person-circle.svg" alt="avatar" class="rounded-circle img-fluid" style="width: 30px; float: left; margin-right: 10px">
        <p style="font-size: 20px">{{post.username}}</p>
          </a>
          </div>
            {% if post.account_id == session['login_id'] %}
            <div style="float: right; width: 50px">
              <a href="/deletepost/{{post.post_id}}" style="color: white"><img src="/static/images/delete.svg" width="20px"></a>
            </div>
            {% endif %}
          </div>
        <h4>{{post.title}}</h4>
        <p>
          {{post.body}}
        </p>
        <hr>
        <div class="row w-75">
          <div class="col">
            <a href="/comments/{{post.post_id}}" style="text-decoration: none; color: black"><img src="/static/images/comment.png" style="width: 27px; margin-right: 10px; margin-bottom: 4px">{{post.comment_count}}</a>
          </div>
          {% if post.post_id in liked_posts %}
          <div class="col">
            <a href="/removelike/{{post.post_id}}" style="text-decoration: none; color: red"><img src="/static/images/liked.png" style="width: 27px; margin-right: 10px; margin-bottom: 4px">{{post.like_count}}</a>
          </div>
          {% else %}
          <div class="col">
            <a href="/createlike/{{post.post_id}}" style="text-decoration: none; color: black"><img src="/static/images/unliked.png" style="width: 27px; margin-right: 10px; margin-bottom: 4px">{{post.like_count}}</a>
          </div>
          {%endif%}
          <div class="col">
            <a href="" style="text-decoration: none; color: black"><img src="/static/images/share.png" style="width: 24px; margin-right: 10px; margin-bottom: 4px">Share</a>
          </div>
          <div class="col">
            <a href=""><img src="/static/images/more.png" style="width: 22px"></a>
          </div>
        </div>
      </div>
    <br>
    <hr>
    <br>
    <div class="container">
        <div class="row justify-content-center">

            <div class="bg-light rounded p-23 col-md-12 col-md-offset-2">

                <form action="/comments/{{post.post_id}}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="form-group has-error">
                        {{ render_field(form.body, class="form-control", id='commentbody') }}
                    </div>
                    <br>
                    <div class="form-group" style="float: right; margin-bottom:10px; margin-right:15px">
                        <button type="submit" class="btn btn-primary" id="submitbutton" onclick="clear()" style="border-radius:20px; padding-left:17px; padding-right:17px; font-weight:bold">
                            Reply
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <br>
    <hr>
    <br>
    {% for comment in comments %}
      <div class="bg-light p-3 rounded card" style="border-color: white ;">
        <div>
        <img src="/static/images/person-circle.svg" alt="avatar" class="rounded-circle img-fluid" style="width: 30px; float: left; margin-right: 10px">
        <div class="row">
            <div class="col">
        <p style="font-size: 20px;">{{comment.username}}</p>
        </div>
        {% if comment.account_id == session['login_id'] %}
        <div style="float: right; width: 40px">
          <a href="/deletecomment/{{post.post_id}}/{{comment.comment_id}}" style="color: white"><img src="/static/images/delete.svg" width="20px"></a>
        </div>
        {% endif %}
    </div>
    </div>
        <p>
          {{comment.body}}
        </p>
        </div>
    </div>
    <br>
    <br>
    {% endfor %}
</main>
{% endblock %}