
{% extends 'base.html' %}
{% block title%}Login{% endblock %}

{% block content %}
{% from "includes/formHelper.html" import render_field %}
<br>
<main class="container" style="margin-top: 50px;">
<div class="row justify-content-center">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title" style="font-weight: bold;">Account Login</h4>
        {% if signup_successful %}
        <p>Sign up successful for {{signup_successful}}, please log in.</p>
        {% endif %}
        <br>

        <form action="/login" method="POST">
          {{ form.csrf_token }}
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <div class="mb-3">
            {{ render_field(form.username, class="form-control") }}
          </div>
          <div class="mb-3">
            {{ render_field(form.password, class="form-control") }}
          </div>


          {% if account_locked %}
          <div class="mb-3">
            <p>Account Locked, Please Contact Support@ConnectNYPian.com</p>
          </div>
          {% elif invalid_pass_or_username %}
          <div class="mb-3">
            <p style="color: red;">Invalid username or password.</p>
          </div>
          {% endif %}

          <p class="form-text"><span style="font-size: 14px;">Don't have an account? <a href="/signup" style="font-size: 14px;">Sign up</a></span></p>
          <br>
          <button type="submit" class="btn btn-primary form-control">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
</main>
{% endblock %}
