{% extends 'base.html' %}
{% block title%}Profile{% endblock %}
{% from "includes/formHelper.html" import render_field %}
{% block content %}
<script>
  function onSubmit(token) {
    document.getElementById("demo-form").submit();
  }
</script>
<main class="container-fluid w-75">
  <!--


    Place the login form in a card format
    Split the page into left and right
    Put the login form in the middle of the right side

    1. Login Page
    - Attributes
      - [ ] School Email
      - [ ] Password
      - [ ] Retype Password (for signup only)
      - [ ] SCHOOL (FOR SIGN UP ONLY)
      - [ ] COURSE (FOR SIGN UP ONLY)
  -->

  <div class="row justify-content-center">
    <!-- Left Side -->
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Hello, World!</h5>
          <p class="card-text">
            Welcome to CONNECT@NYPian! This is a platform where NYP students
            can connect with each other in a safe and secure environment.
            <br />
            <br />
            To get started, you can either login or sign up for an account.
            <br />
            <br />
            If you are new, sign up for a new account to get started!
          </p>
        </div>
      </div>
    </div>


    <!-- Right Side -->
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Account Sign up</h5>

          <form action="/signup" method="POST">
            <div class="mb-3">
              {{ render_field(form.username, class="form-control") }}
            </div>

            <div class="mb-3">

              {{ render_field(form.email, class="form-control") }}
              <div id="emailHelp" class="form-text">
                <p><span>We'll never share your email with anyone else.</span></p>
              </div>
            </div>

            <div class="mb-3">
              {{ render_field(form.password, class="form-control") }}
            </div>
            <div class="mb-3">
              {{ render_field(form.recaptcha, class="form-control") }}
            </div>
            <p class="form-text"><span>Already have an account? <a href="/login">Log In</a></span></p>
            <button type="submit" class="btn btn-primary">Sign Up</button>

          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}