{% extends 'base.html' %}
{% block title%}Profile{% endblock %}
{% from "includes/formHelper.html" import render_field %}
{% block content %}
<script>
  function onSubmit(token) {
    document.getElementById("demo-form").submit();
  }
</script>
<main class="container" style="max-width: 1300px;">
  <!--


    Place the login form in a card format
    Split the page into left and right
    Put the login form in the middle of the right side

    1. Login Page
    - Attributes
      - [ ] School Email
      - [ ] Password
      - [ ] Retype Password (for signup only)
      - [ ] SCHOOL (FOR SIGN UP ONLY)
      - [ ] COURSE (FOR SIGN UP ONLY)
  -->

  <div class="row justify-content-center">
    <!-- Left Side -->
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Hello, World!</h5>
          <p class="card-text">
            Welcome to CONNECT@NYPian! This is a platform where NYP students
            can connect with each other in a safe and secure environment.
            <br />
            <br />
            To get started, you can either login or sign up for an account.
            <br />
            <br />
            If you are new, sign up for a new account to get started!
          </p>
        </div>
      </div>
    </div>


    <!-- Right Side -->
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title" style="font-weight: bold;">Account Sign up</h4>
          <br>
          <form action="/signup" method="POST">
            {{ form.csrf_token }}
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

            <div class="mb-3">
              {% if username_error %}
              {{ render_field(form.username, class="form-control", style="border-color: red;") }}
              <p style="color: red">Username is taken.</p>
              {% elif username_error == False %}
              {{ render_field(form.username, class="form-control" , style="border-color: green;")}}
              {% else %}
              {{ render_field(form.username, class="form-control")}}
              {% endif %}
            </div>

            <div class="mb-3">
              {% if email_error %}
              {{ render_field(form.email, class="form-control", style="border-color: red;") }}
              <p style="color: red">Email is taken.</p>
              {% elif username_error == False %}
              {{ render_field(form.email, class="form-control", style="border-color: green;") }}
              {% else %}
              {{ render_field(form.email, class="form-control") }}
              {% endif %}
              <div id="emailHelp" class="form-text">
                <p><span style="font-size: 14px;">We'll never share your email with anyone else.</span></p>
              </div>
            </div>
            
            <div class="mb-3">
              {{ render_field(form.school, class='form-control') }}
            </div>

            <div class="mb-3">
              {{ render_field(form.password, class="form-control") }}
            </div>
            <div class="mb-3">
              {{ render_field(form.recaptcha, class="form-control") }}
            </div>

            {% if signup_status %}
            <p style="color: green; ">{{signup_status}}</p>
            {% endif %}

            <p style="font-size: 14px;">Already have an account? <a href="/login" style="font-size:14px">Log In</a></p>
            <button type="submit" class="btn btn-primary form-control">Sign Up</button>

          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
